:root {
  --primary-color: #1E6E9D;
  --secondary-color: #73E3FD;
  --tertiary-color: #80D2E7;
  --gray-color: #616161;
  --Regular-font: "Regular";
  --SemiBold-font: "SemiBold";
  --bold-font: "Bold";
  --ExtraBold-font: "ExtraBold";
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /*10px*/
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-right: auto;
  margin-left: auto;
}

/* 
============
   Header
============
*/
.header {
position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
}



.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__wrapper--desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
}

.app-logo {
}

.app-logo__img {
  display: block;
  width: 10rem;
}

.menu__desktop {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-family: var(--Regular-font);
  color: var(--gray-color);
}

.menu__desktop--item {
}

.menu__desktop--link {
  color: var(--gray-color);
  font-size: 1.4rem;
}

.menu__desktop--link:hover {
  color: black;
}

.menu__link--active {
  color: black;
}

.nav__links {
}

.nav__login {
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border: 1px var(--gray-color) solid;
  color: var(--gray-color);
  padding: 1.2rem;
  border-radius: 1rem;
  font-family: var(--Regular-font);
  transition: all 50ms ease-in;
}

.nav__login:hover {
  background-color: black;
  color: white;
  transition: all 250ms ease-in-out;
}

.nav__login--icon {
  width: 2rem;
}

.nav__login--title {
}

/* Mobile Menu */

.nav-menu {
  font-family: var(--Regular-font);
  position: fixed;
  top: 0;
  right: -50vw;
  bottom: 0;
  width: 50vw;
  background-color: black;

  padding: 2.5rem;
  transition: all 250ms ease-in-out;
  z-index: 100;
}

.nav-menu--open {
  right: 0;
}

.menu-mobile--title {
  font-family: "SemiBold";
  font-size: 1.4rem;
  color: white;
  margin-bottom: 2.5rem;
  margin-top: 2rem;
  line-height: 3rem;
}

.mobile-menu {
  font-family: "SemiBold";

}

.mobile-menu__item {
  margin-bottom: 1.5rem;
}

.mobile-menu__link {
  color: white;
  font-size: 1.2rem;
  position: relative;
  transition: all 250ms ease-in-out;
}

.mobile-menu__link::before {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 0;
  height: 0.3rem;
  border-radius: 5rem;
  background-color: white;
  transition: all 250ms ease-in-out;
}

.mobile-menu__link:hover {
  padding-right: 2.2rem;
}

.mobile-menu__link:hover::before {
  width: 1.6rem;
}

.nav-menu__links {
  font-size: 1rem;
  display: flex;
  align-items: center;
  width: 14rem;
  margin-top: 2rem;
}

.nav-menu__link {
  color: white;
  border: 1px white solid;
  padding: 1rem;
  width: 50%;
  text-align: center;
}

.nav-menu__link:hover {
  background-color: white;
  color: black;
  transition: all 250ms ease-in-out;
}

.nav-menu__link--right {
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}

.nav-menu__link--left {
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
}

.nav__btn {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 1rem;
}

.nav__btn-line {
  display: block;
  width: 3rem;
  height: 0.3rem;
  border-radius: 5rem;
  background-color: var(--gray-color);
  position: relative;
  transition: all 150ms ease-in-out;
}

.nav__btn-line::before,
.nav__btn-line::after {
  content: " ";
  position: absolute;
  width: 3rem;
  height: 0.3rem;
  border-radius: 5rem;
  background-color: var(--gray-color);
  transition: all 200ms ease-in-out;
}

.nav__btn-line::before {
  top: -0.8rem;
}

.nav__btn-line::after {
  top: 0.8rem;
}

.nav__btn--open .nav__btn-line {
  background-color: transparent;
}

.nav__btn--open .nav__btn-line::before {
  transform: translateY(8px) rotate(45deg);
}

.nav__btn--open .nav__btn-line::after {
  transform: translateY(-8px) rotate(-45deg);
}

/* 
===========
   Main
===========
*/

.main {
  margin-top: 10rem;
}

.main__content {
}



.main__title {
  font-family: var(--ExtraBold-font);
  text-align: center;
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 4rem;
}

.main__caption {
  font-family: var(--Regular-font);
  color: var(--gray-color);
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 5rem;
}

.main__content--bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.main__content--line1 {
  width: 40%;
  height: 0.5rem;
  background: linear-gradient(to right, black, white);
}

.main__content--line2 {
  width: 40%;
  height: 0.5rem;
  background: linear-gradient(to right, white, black);
}

.main__content--icons {
display: flex;
align-items: center;
justify-content: center;
gap: 1rem;
margin: 0 1rem;
}

.main__content--icon {
  
}

.main__content--img {
  background-color: var(--primary-color);
  padding: 0.5rem;
  border-radius: 5rem;
  width: 5rem;
  transition:all 250ms ease ;
}

.main__content--img:hover {
  background-color: #1d628b;
  transform: scale(1.1);
}



.main__banner {
}

.main__banner--image {
  display: block;
  width: 100%;
  margin-bottom: 4rem;
  height: 40%;
}

.main__abuot {
  background-color: var(--primary-color);
  color: white;
  padding: 2rem 3rem;
  font-family: var(--Regular-font);
  font-size: 1.6rem;
  line-height: 3.2rem;
  text-align: center;
}

.main__abuot--dicription {
}

/*
 ===========
   Services
 ===========
*/

.main__services--top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
  
  .main__services--top div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .services__top--link {
    font-family: var(--SemiBold-font);
    color: black;
    font-size: 1.4rem;
  }
  
  .services__top--icon {}
  

.main__services {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.services__title {
  font-family: var(--SemiBold-font);
  font-size: 2rem;
  position: relative;
  padding: 3rem;
}

.services__title::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 2.2rem;
  height: 0.2rem;
  background-color: black;
  border-radius: 1rem;
  top: 4rem;
  right: 0;
}

.services__wrapper {
}

.services {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
}

.service {
  width: 95%;
  height: 20rem;
  padding: 1.5rem;
  font-family: var(--SemiBold-font);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 0.8rem;
}

.service:nth-child(odd) {
  background-color: var(--secondary-color);
}

.service:nth-child(even) {
  background-color: var(--tertiary-color);
}

.service__title {
  font-family: var(--bold-font);
  font-size: 2rem;
  margin: 1.5rem;
  line-height: 3rem;
}

.service__caption {
  font-size: 1.4rem;
  line-height: 3rem;
}

.service__icon {
  width: 5rem;
}

.services__img--mobile {
  display: block;
  width: 95%;
  height: 20rem;
  margin: 2rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 0.8rem;

}

.services__img--desktop {
  display: none;
  width: 30%;
  height: 100%;
  margin: 0 1rem;
  border-radius: 0.8rem;

}

/*
 ===========
    About
 ===========
*/

.main__about-us {
  background-color: black;
  color: white;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 4rem;
}

.main__about-us div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.about-us__title {
  font-family: var(--SemiBold-font);
  font-size: 2rem;
  position: relative;
  padding-right: 3rem;
  margin-left: auto;
}

.about-us__title::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 2.2rem;
  height: 0.2rem;
  background-color: white;
  border-radius: 1rem;
  top: 1rem;
  right: 0;
}

.about-us__caption {
  font-family: var(--Regular-font);
  line-height: 3rem;
  font-size: 1.4rem;
  width: 90%;
}

.about-us__btn {
  background-color: white;
  color: black;
  width: 90%;
  height: 4rem;
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.about-us__btn--title {
  font-family: var(--bold-font);
  font-size: 1.4rem;
}

.about-us__btn--icon {
  width: 2rem;
}

.main__about-us--image {
  display: block;
  width: 90%;
  height: 20%;
}

.about-us__image--mobile {
}

.about-us__image--desktop {
  display: none;
}

/*
 ========================
   Frequently Questions
 ========================
*/

.frequently-questions {
}

.frequently-questions__title {
  font-family: var(--SemiBold-font);
  font-size: 2rem;
  position: relative;
  padding-right: 3rem;
  margin-left: auto;
  margin-bottom: 2rem;
}

.frequently-questions__title::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 2.2rem;
  height: 0.2rem;
  background-color: black;
  border-radius: 1rem;
  top: 1rem;
  right: 0;
}

.frequently-questions__content {
  display: flex;
  flex-direction: column;
}

.questions {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.question {
  font-family: var(--Regular-font);
  font-size: 1.6rem;
  border: 1px black solid;
  border-radius: 0.8rem;
  padding: 1.5rem;
  width: 100%;
  height: auto;
  line-height: 3rem;
  cursor: pointer;
}

.question div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.question.open {
  background-color: black;
  color: white;
  height: auto;
}

.question__title {
}

.question__icon {
  width: 2rem;
  transition: all 500ms ease-in-out;
}

.question__caption {
  width: 100%;
  line-height: 3rem;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 500ms ease-in-out, opacity 500ms ease-in-out;
}

.question.open .question__caption {
  max-height: 100%;
  opacity: 1;
}

.questions__img {
}

.questions__img--desktop {
  display: none;
  max-width: 40%;
}

.questions__img--mobile {
  width: 100%;
  margin-top: 3rem;
}

/*
 =====================
     User Comments
 =====================
*/


.user-comments {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.user-comments__title {
  font-family: var(--SemiBold-font);
  font-size: 1.8rem;
  position: relative;
  padding-right: 3rem;
  margin-left: auto;
  margin-bottom: 2rem;
}

.user-comments__title::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 2.2rem;
  height: 0.2rem;
  background-color: black;
  border-radius: 1rem;
  top: 1rem;
  right: 0;
}

.user-comments__content {
  margin-top: 6rem;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
  position: relative;
  padding-top: 6rem;
  padding-bottom: 3rem;
}


.user-comments__img {
  display: block;
  width: 9rem;
  position: absolute;
  top: -4.5rem;
  margin: auto;
}

.user-comments__caption {
  font-family: var(--Regular-font);
  line-height: 2.6rem;
  font-size: 1.4rem;
  text-align: center;
  width: 60%;
}

.user-comments__user-name {
  font-family: var(--bold-font);
  font-size: 1.5rem;
}

.user-comments__icon {
  width: 3rem;
  cursor: pointer;
  position: absolute;
  background-color: white;
  border-radius: 5rem;
  color: var(--gray-color);
  padding: 0.5rem;
}

.user-comments__icon--right {
  right: 1.4rem;
  top: 8rem;
}

.user-comments__icon--left {
  left: 1.4rem;
  top: 8.5rem;
}

/*
 ======================
     Register Comment
 ======================
*/

.register-comment {
  margin-bottom: 5rem;
}

.register-comment__title {
  font-family: var(--SemiBold-font);
  font-size: 1.8rem;
  position: relative;
  padding-right: 3rem;
  margin-left: auto;
  margin-bottom: 2rem;
}

.register-comment__title::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 2.2rem;
  height: 0.2rem;
  background-color: black;
  border-radius: 1rem;
  top: 1rem;
  right: 0;
}

.register-comment__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

.register-comment__img {
  display: none;
}

.register-comment__sentence {
  font-family: var(--Regular-font);
  font-size: 1.4rem;
  line-height: 2rem;
}

.register-comment__form {
  margin: auto;
}

.register-comment__inputs {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 1rem;
}

.register-comment__input {
  font-family: var(--Regular-font);
  width: 50%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: 1px var(--gray-color) solid;
}

.register-comment__input:focus {
  outline: none;
}

.register-comment__input--big {
  width: 100%;
  height: 8rem;
  margin-bottom: 1.2rem;
}

.register-comment__btn {
  font-family: var(--Regular-font);
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  border: none;
}

/* 
==============================
    Rehabilitation Equipment
==============================
*/
.rehabilitation-equipment {
  margin-bottom: 4rem;
}

.rehabilitation-equipment__title {
  font-family: var(--SemiBold-font);
  font-size: 1.8rem;
  position: relative;
  padding-right: 3rem;
  margin-left: auto;
  margin-bottom: 2rem;
}

.rehabilitation-equipment__title::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 2.2rem;
  height: 0.2rem;
  background-color: black;
  border-radius: 1rem;
  top: 1rem;
  right: 0;
}

.rehabilitation-equipment__wrapper {
  background-color: var(--primary-color);
  padding: 2rem 0.5rem;
  margin-top: 3rem;
  border-radius: 0.8rem;
  position: relative;
  width: 80%;
  margin: auto;
  
}

.rehabilitation-equipment__btn {
  background-color: #fff;
  border: 1px black solid;
  border-radius: 5rem;
  width: 4rem;
  height: 4rem;
  padding: 0.8rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  
}

.rehabilitation-equipment__btn--right {
right: 2rem;
}

.rehabilitation-equipment__btn--left {
  left: 2rem;
}

.rehabilitation-equipment__items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* flex-direction: column; */
  gap: 2rem;
  flex-wrap: wrap;
}

.rehabilitation-equipment__item {
  background-color: white;
  padding: 1rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  width: 20rem;
  color: black;
  margin-bottom: 2rem;
}

.img-desktop{
  display: none;
}



.rehabilitation-equipment__item--image {
  display: block;
  width: 100%;

}

.rehabilitation-equipment__item--description {
  font-family: var(--Regular-font);
  font-size: 1.2rem;
  text-align: center;
  line-height: 2rem;
}

.rehabilitation-equipment__item--price {
  font-family: var(--Regular-font);
  font-size: 1.2rem;
}

.bold {
  font-weight: bold;
}


/* 
===============
    Footer
===============
*/

.footer {
  margin-top: 5rem;
}
.container {
}
.footer-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo__img--footer {
  display: block;
  width: 7rem;
}

.footer__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer__link {
}

.footer__icon {
  width: 2.8rem;
}

.footer__icon:hover {
  transform: scale(1.3);
  transition: transform 250ms ease;
}

.footer__icon--tel {
  width: 2.2rem;
}

.footer__border {
  position: relative;
  display: flex;
  justify-content: center;
}

.footer__line {
  display: block;
  width: 100%;
  height: 0.01rem;
  background-color: var(--gray-color);
}

.scroll-to-top {
  position: absolute;
  top: -1.5rem;
  margin-left: 2rem;
}

.footer__line--icon {
  display: block;
  background-color: black;
  border-radius: 5rem;
  padding: 0.5rem;
  width: 3rem;
}

.footer__line--icon:hover {
  transform: scale(1.3);
  transition: transform 250ms ease;
}

.footer__content {
  margin-top: 4rem;
  font-family: var(--Regular-font);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer__content--title {
  font-family: var(--bold-font);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.footer__content--caption {
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: justify;
  margin-bottom: 3rem;
}

.footer__about-access-services {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer__access-services {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
}

.footer__access-services div {
  width: 50%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 3rem;
}

.footer__content--item {
  color: black;
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
}

.footer__content--item:hover {
  transform: scale(1.1);
  transition: transform 250ms ease;
}

.footer__namad-image--desktop {
  display: none;
}

.footer__namad-sentence {
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.footer__namad-image {
  display: block;
  width: 30%;
  margin-bottom: 5rem;
  margin-left: 1.5rem;
}
.footer__bottom {
}
.footer__bottom--sentence {
  margin-bottom: 2rem;
  line-height: 2rem;
}
